{% load static %}

<doctype html>

<html>

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <title> {% block title %}
            Ecommerce
        {% endblock title %}</title>

    </head>


    <body>
        {% block main %}


        {% endblock main %}
        <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    </body>

</html>
